<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/.style/cookiejar.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class = "header" >
            <a href = "/views/home.html"><img src = "/img/backArrow.png" height = "24px" width = "24px" class = "headerBackArrow"></a>
            <h4>Donate:</h4>
            <hr>
        </div>
        <p id = "donoInfo">Any and all donations are appreciated!</p>
        <p id = "bitId"><b>Bitcoin Donation Wallet:</b> bc1qvu0n0vk65k3cdrrqhygm0ywu3dctfwuelj26r5</p>
    </body>
</html>