<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style/cookiejar.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>
    <body>
        <div class = "header" >
            <a href = "/views/home.html"><img src = "/img/backArrow.png" height = "24px" width = "24px" class = "headerBackArrow"></a>
            <h4>Info:</h4>
            <hr>
        </div>
        <p>Cookie Jarred is an open source extension that is activly being updated.</p>
        <p>Cookie Jarred runs everytime a new website is loaded. It will search for the cookie acception layer if by 
            HTML class and will attempt to remove it. If the cookie layer does not get removed pleas submit a Github
            issue via the "report a cookie" button on the main page. When reporting a cookie please include the link
            of the website where it occured.</p>
        <p>In some cases the cookie layer might be removed between 1 - 2 seconds after the website loads.</p>
    </body>
    <footer>
        <hr>
        <div id = "mentions">
            <p>Created By <a href = "https://github.com/Archnetic">Archnetic</a></p>
            <p>Cookiejarred Icon created by Freepik on flaticon.com</p>
        </div>
    </footer>
</html>